.env

node_modules
package-lock.json

libraries
logs
versions
world
banned-ips.json
banned-players.json
ops.json
usercache.json
whitelist.json

*.log

output_*.jpg

version_manifest.json
manifest_*.json
